{% if is_following %}
{% else %}
{% endif %}
<div id="follow-unfollow-{{ctype.id}}-{{actor.id}}">
    <a href="{% url actstream_unfollow content_type_id=ctype.id  object_id=actor.id %}"
       id="unfollow_button"
       style="{% if not is_following %}display:none{% endif %}">
        Unfollow 
    </a>
    
    <a href="{% url actstream_follow content_type_id=ctype.id  object_id=actor.id %}"
       id="follow_button"
       style="{% if is_following %}display:none{% endif %}">
        Follow 
    </a> 
</div>

<script type="text/javascript">

    $("#follow-unfollow-{{ctype.id}}-{{actor.id}} #follow_button, #follow-unfollow-{{ctype.id}}-{{actor.id}} #unfollow_button").click(function () {
        $.post($(this).attr("href"), {});
        $(this).parent().find("#follow_button, #unfollow_button").toggle();
        return false
    });

</script>